#App {
  height: 100vh;
  width: 100vw;
  background: forestgreen;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.row {
  flex-direction: row;
}

.m-1 {
  margin: 1em;
}
