#App {
  height: 100vh;
  width: 100vw;
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #C51D00 100%);
  background: -webkit-linear-gradient(top, #000000 0%, #C51D00 100%);
  background: linear-gradient(to bottom, #000000 0%, #C51D00 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
