#signup-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: slategrey;
  padding: 3em;
  box-shadow: 0px 3px 25px 13px rgba(0,0,0,0.50);
  border-radius: 1em;
  border: 2px solid black;
}

#signup-form {
  display: flex;
  flex-flow: column wrap;
}
#signup-hr {
  width: 75%;
}
